*{
    margin: 0;
    padding: 0;
}
body{
    background: url(flower.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    width: 400px;
    background-color: rgba(241, 233, 233, 0.133);
    box-shadow: 3px 5px 15px black;
    border-radius: 2rem;
    backdrop-filter: blur(12px);
    text-align: center;
    transition: box-shadow 0.4s ease-in-out;
    cursor: pointer;
}
.container:hover{
    box-shadow: 23px 22px 26px black;
}
.content{
    padding: 30px;
    color: white;
    text-shadow: 1px 1px 4px black;
}
i{
   font-size: 4rem;
   background-color: rgb(67, 11, 120);
   border-radius: 50%;
   color: white;
   padding: 1rem;
   display: flex;
   text-shadow: 1px 1px 4px black;
}
p{
    margin-top: 30px;
    font-size: 1.25rem;
}
h3{
    margin-top: 40px;
    font-size: 1.5rem;
}